In [1]:
import pandas as pd

In [2]:
live_after_death = pd.read_html('https://www.ironmaiden.com/discography/details/live-after-death')

In [3]:
live_after_death[0]

   Side 1                   Side 1.1 Side 1.2
0       1  Intro: Churchill's Speech     1:09
1       2                  Aces High     4:07
2       3      2 Minutes to Midnight     5:52
3       4                The Trooper     3:59
4       5                Revelations     5:59
5       6           Flight of Icarus     3:21

In [4]:
live_after_death[1]

   Side 2                     Side 2.1 Side 2.2
0       7  Rime of the Ancient Mariner    13:03
1       8                   Powerslave     7:06
2       9      The Number of the Beast     4:48

In [5]:
live_after_death[2]

   Side 3              Side 3.1 Side 3.2
0      10  Hallowed Be Thy Name     7:17
1      11           Iron Maiden     4:11
2      12      Run to the Hills     3:52
3      13          Running Free     8:16

In [6]:
live_after_death[3]

   Side 4                Side 4.1 Side 4.2
0      14              Wrathchild     2:54
1      15        22 Acacia Avenue     6:04
2      16  Children of the Damned     4:19
3      17  Die with Your Boots On     4:51
4      18    Phantom of the Opera     7:01

In [ ]:
MAIDEN_ENGLAND_88 = pd.read_html('https://www.ironmaiden.com/discography/details/maiden-england-88')

In [ ]:
LIVE_AT_DONINGTON_92 = pd.read_html('https://www.ironmaiden.com/discography/details/live-at-donington-92')

In [ ]:
A_REAL_LIVE_DEAD_ONE = pd.read_html('https://www.ironmaiden.com/discography/details/a-real-live-dead-one')

In [ ]:
ROCK_IN_RIO = pd.read_html('https://www.ironmaiden.com/discography/details/rock-in-rio')

In [ ]:
DEATH_ON_THE_ROAD = pd.read_html('https://www.ironmaiden.com/discography/details/death-on-the-road')

In [ ]:
FLIGHT_666 = pd.read_html('https://www.ironmaiden.com/discography/details/flight-666')

In [ ]:
EN_VIVO = pd.read_html('https://www.ironmaiden.com/discography/details/en-vivo')

In [ ]:
THE_BOOK_OF_SOULS_LIVE_CHAPTER = pd.read_html('https://www.ironmaiden.com/discography/details/the-book-of-souls-live-chapter')